body{
    background-color:paleturquoise;
}

h1{
    text-align: center;
}
.galería{
    background-color:paleturquoise;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;

}

.contenedor-imagenes{
    background-color:paleturquoise;
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    
}
img{
    height: 220px;
    width: 220px;
    
}



